body {
    /* height: 868px; */
    background: linear-gradient(to right, #a8edea, #fed6e3);
}

.slider {
    height: 340px;
    width: 790px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    position: relative;
}

.slider ul {
    width: 5530px;
    position: absolute;
    left: 0;
    top: 0;
    float: left;
}

.slider li {
    float: left;
}

img {
    width: 100%;
}

.arrow {
    display: none;
}

.arrow-left,
.arrow-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.aud {
    position: absolute;
    right: 20px;
    bottom: 50px;
}

.aud audio {
    object-fit: cover
}